<div class = "row">
    <div class="col-md-9">
        <div class="container">
            <div class="col-md-5">
                <h4>Veuillez remplir les informations ci-dessous :</h4>
                    <label>Nom</label>
                    <input type="text" class="form-control" placeholder="Nom du lieu" required ng-model="centerP.title">
                    <br/>
                    <label>Latitude</label>
                    <input type="text" class="form-control" required ng-model="centerP.lat"/>
                    <br/>
                    <label>Longitude</label>
                    <input type="text" class="form-control" required ng-model="centerP.lon"/>
                    <br/>
                    <label>Ajouter une image</label>
                    <input type="file" file-model="picAdded" accept="image/*" >
                    <br/>
                    <label>Description</label>
                    <textarea class="form-control" required ng-model="centerP.description"></textarea>
                    <label>Informations pratiques</label>
                    <textarea class="form-control" ng-model="centerP.infosPratiques"></textarea>
                    <input type="submit" value="Enregistrer" name="submit" ng-click="saveLocation()">
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Carte</h2>

                        <style type="text/css">
                            #openlayerFrame{
                                border: darkseagreen 5px solid;
                            }
                        </style>

                        <openlayers id="openlayerFrame" ol-center="centerP"  height="300px">
                            <ol-marker ng-repeat="mark in domeLocations" name="mark.title" lat="mark.location.latitude" lon="mark.location.longitude"></ol-marker>
                            
                        </openlayers>

                        <button class="btn btn-block" ng-click="centerP.autodiscover=true;">Ma position</button>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-5">
                        <h2>Lieux existants</h2>
                        <div ng-repeat="eachL in domeLocations">
                            <a ng-click="centerP.lat = eachL.location.latitude; centerP.lon = eachL.location.longitude;">{[{eachL.title}]}</a>
                            <span class="glyphicon glyphicon-remove" ng-click="delPlace(eachL._id)"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
