<div ng-show="error" class="alert alert-danger row">
    <span>{[{error.message}]}</span>
</div>

<form ng-submit="logIn()" style="margin-top:30px;">
    <h3>Connexion</h3>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="Nom d’utilisateur" ng-model="user.username">
    </div>

    <div class="form-group">
        <input type="password" class="form-control" placeholder="Mot de passe" ng-model="user.password"/>
    </div>

    <button type="submit" class="btn btn-primary">Se connecter</button>

</form>
