
    <div class="row">
        <div class="col-md-2">
            <div class="left">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">

                        <li><a ui-sref="nav.regclient.views">Carte</a></li>
                        <li><a ui-sref="nav.regclient.create">Créer un lieu</a></li>
                        <li><a ui-sref="nav.regclient.addPic">Ajouter une image</a></li>
                        <li><a ui-sref="nav.regclient.iteration">Parcours</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
