{
  "serverURL": "http://localhost:3000/",

  "mongodb": {
    "uri": "mongodb://localhost/participamap",
    "options": {}
  },

  "supervisor": {
    "pendingUploadsValidity": 60
  },

  "rateLimiter": {
    "windowSize": 60,
    "max": 100
  },

  "auth": {
    "secret": "<Set a strong secret, e.g. 32 random Bytes in base64>",
    "tokenValidity": 86400
  },

  "fileUpload": {
    "method": "local",
    "options": {
      "uploadDir": "./uploads/",
      "fileServerURL": "http://localhost:3000/uploads/"
    }
  }
}
