<div class = "row">
    <div class="col-md-9">
        <div class="container">
            <div class="col-md-5">
                <h4>Veuillez remplir les informations ci-dessus: </h4>
                <>
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Nom de Location" required ng-model="centerP.title">
                    <br/>
                    <label>Latitude</label>
                    <input type="text" class="form-control" required ng-model="centerP.lat"/>
                    <br/>
                    <label>Longitude</label>
                    <input type="text" class="form-control" required ng-model="centerP.lon"/>
                    <br/>
                    <label>Add An Image</label>
                    <input type="file" file-model="picAdded" accept="image/*" >
                    <br/>
                    <label>Description</label>
                    <textarea class="form-control" required ng-model="centerP.description"></textarea>
                    <label>Informations Pratiques</label>
                    <textarea class="form-control" ></textarea>
                    <input type="submit" value="OK Upload" name="submit" ng-click="saveLocation()">
                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>MAP</h2>

                        <style type="text/css">
                            #openlayerFrame{
                                border: darkseagreen 5px solid;
                            }
                        </style>

                        <openlayers id="openlayerFrame" ol-center="centerP"  height="300px">
                            <ol-marker ng-repeat="mark in domeLocations" name="mark.title" lat="mark.location.latitude" lon="mark.location.longitude"></ol-marker>
                            
                        </openlayers>

                        <button class="btn btn-block" ng-click="centerP.autodiscover=true;">Discover Position</button>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-5">
                        <h2>DEJA CREE</h2>
                        <div ng-repeat="eachL in domeLocations">
                            <a ng-click="centerP.lat = eachL.location.latitude; centerP.lon = eachL.location.longitude "> Location de - {[{eachL.title}]}</a>
                            <span class="glyphicon glyphicon-remove" ng-click="delPlace(eachL._id)"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>