<div class = "row">
    <div class="col-md-9">
        <div class="container">
            <div class="col-md-5">
                <form name="information" ng-submit="saveLocation()">
                    <uib-tabset active="activeForm">
                        <uib-tab index="0" heading="Basic Info">
                            <ng-form name="formCreatePlace">
                                <div class="form-group">
                                    <h3>Chose the name and the position</h3>
                                    <br/>
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Nom de Location" required ng-model="centerP.title">
                                    <br/>
                                    <label>Latitude</label>
                                    <input type="text" class="form-control" required ng-model="centerP.location.lat">
                                    <br/>
                                    <label>Longitude</label>
                                    <input type="text" class="form-control" required ng-model="centerP.location.lon">
                                    <br/>
                                </div>
                            </ng-form>
                        </uib-tab>
                        <uib-tab index="1" heading="Description">
                            <h3>Adding description of the Place</h3>
                            <label>Description</label>
                            <textarea class="form-control" required ng-model="centerP.description">
                            </textarea>
                        </uib-tab>

                    </uib-tabset>

                </form>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2>MAP</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h2>Comments</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>